
header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 9%;
    background-color: black;
    /*filter: drop-shadow(10px);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: red;
    border-bottom: 3px solid red;
}